<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body class="container">

    <header>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <% for(var key in urls) { %>
      <li>The short link for: <%= urls[key] %> is <%= key %></li>
      <a href="/urls/<%= key %>"> Edit key</a>
        <form method="POST" action="/urls/<%= key %>/delete">
           <label for="deleteKey">To delete key <%= key %>, click here:</label>
          <input type="submit" value="delete"></input>
        </form>
      <% }; %>
        </div>
        <l1><a href="urls/new">click here</a> to make another short link</l1>
    </main>

    <footer>
    </footer>

</body>
</html>